@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: DM Sans;
    margin: 0;
    background-color: #f6f6f9;
}

.main {
    margin-top: 60px;
}

.navbar-container {
    height: 60px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
    display: flex;
    justify-content: center;
    z-index: 99999;
    position: fixed;
    top: 0;

}

.logolink {
    display: flex;
}

.navlogo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.logo-text a {
    text-decoration: none;
    color: #212121;
}

.logoimg {
    padding-right: 8px;
}

.logo {
    height: 34px;
    width: auto;
}

.newton {
    font-family: Raleway;
    font-size: 1.8em;
    font-weight: 800;
}

.school {
    font-family: Raleway;
    font-size: 1.8em;
    font-weight: 400;
}

.menu {
    flex: 3;
}

.menuitems {
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
}

.refer {
    display: flex;
    justify-content: center;
    padding: 0 10px 0 10px;
}

.font-icon {
    padding: 0 10px 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    color: #acabb2;
    font-size: 1.2em;

}

.notification {
    padding: 0 10px 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
}

.peers {
    padding: 0 10px 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
}

.icofont-ui-user-group:hover {
    color: #1C6DD0;
    cursor: pointer;
    transition: ease-in 0.2s;
}

.text-icon {
    padding: 0 10px 0 10px;
}

.profile {
    padding: 0 10px 0 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;;
}

.dropdown {
    position: relative;
  }

  .dropdown-content {
      display: none;
    top: 50px;
    position: absolute;
    background-color: #FFF;
    min-width: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 0;
    z-index: 1;
  }
  .dashboard-text {
      padding: 0 16px;
      font-size: 0.7em;
  }
  .column{
      display: flex;
      flex-direction: column;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .list{
      padding: 0 16px;
      display: flex;
      align-items: center;
      color: #686868;
      cursor: pointer;
  }

  .list:hover {
      background-color: #e7e7e7;
  }
.list-icon {
    font-size: 1.5em;
    margin-right: 20px;
}

.list-name{
    flex:5;
    font-size: 0.8em;
}
.profile-img {
    display: flex;
    align-items: center;
}
.profile-img > img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center right;
}

.profile-text {
    color: #212121;
    padding: 0 10px 0 10px;
}

.icofont-notification:hover {
    color: #1C6DD0;
    cursor: pointer;
    transition: ease-in 0.2s;
}

.badge {
    right: -10px;
    top: -6px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: red;
    color: white;
    font-size: 12px;
}

.icon-border {
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 3px;
    height: 30px;
    width: 30px;
    border-radius: 10px;
    border: 0.5px solid #cdccd2;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.content-area {
    display: flex;
    height: auto;
}

.left-panel-wrapper {
    flex: 1;
    padding: 30px 20px;
    background-color: #fff;
    height: 100%;
    width: 20%;
    position: fixed;
    left: 0;
    top: 0;
    overflow-x: hidden;
    z-index: 1;

}

/* ------------------------------Scrollbar Hide */

.left-panel-wrapper::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.left-panel-wrapper {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* ---------------------------------------------- */
.content-wrapper {
    flex: 2;
    height: auto;
    padding: 100px 25% 100px 25%;
    background-color: #f4f7ff;
    width: 60%;
    height: 2000px;
}

.right-panel-wrapper {
    padding: 30px 20px;
    background-color: #fff;
    width: 20%;
    flex: 1;
    height: 100%;
    width: 20%;
    position: fixed;
    right: 0;
    top: 0;
    overflow-x: hidden;
    z-index: 1;
}

.instructor-wrapper {
    margin-top: 100px;
}

.profiles {
    display: flex;
}

.profile-pic-ins {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-pic-ins>img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center right;
}

.name-sub {
    flex: 3;
    font-size: 0.7em;
}

.ins-name {
    font-size: 1.5em;
    font-weight: 800;
}

.ins-course {
    margin-top: -15px;
    color: #878787;
}

.profile-wrapper {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}

.profile-image {
    height: 50px;
    width: 50px;
}

.profile-image>img {
    border-radius: 50%;
    object-fit: cover;
    object-position: center right;
}

.profile-name-user-name {
    position: relative;
    padding-left: 20px;
}

.profile-name {
    font-size: 1em;
    font-weight: 800;

}

.user-name {
    position: absolute;
    top: 35px;
    color: #acabb2;
    font-style: italic;
    font-size: 0.8em;
    font-weight: 600;
}

.dash1-menu-wrapper {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 30px 100px 30px;
}

.menu-option {
    padding-left: 30px;
    /* border: 1px solid black; */
    margin: 10px 0;
    font-size: 1.2em;
    font-weight: 600;
    color: #b4b4b9;
    display: flex;
    align-items: center;
    border-radius: 22px;
}

.menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    /* border: 0.5px solid #cdccd2; */
    font-size: 20px;
    margin-right: 20px;
    border-radius: 8px;
}

.active,
.menu-option:hover,
.menu-option-internal:hover {
    cursor: pointer;
    background-color: #ef954b;
    background-image: linear-gradient(to left, #ffa156, #fc9849, #f8903d, #f5872f, #f17e20);
    color: white !important;
    box-shadow:
        0 1px 1px rgba(248, 165, 0, 0.075),
        0 2px 2px rgba(248, 165, 0, 0.075),
        0 4px 4px rgba(248, 165, 0, 0.075),
        0 8px 8px rgba(248, 165, 0, 0.075),
        0 16px 16px hsl(0deg 0% 0% / 0.075);
    transition: ease-in 0.2s;
}

.tracks-title {
    align-items: center;
    color: #191c34;
    font-size: 2em;

}

.track-cards {
    position: relative;
    border-radius: 15px;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 30px 0 30px 0;
    box-shadow: 0px 16px 32px 0px rgba(233, 238, 242, 0.4);
}

.ribbon {
    margin-top: 1px;
    margin-left: 10px;
    padding: 2px 10px;
    background-color: #e83e8c;
    font-size: 0.6em;
    position: absolute;
    top: -1px;
    color: #fff;
    font-weight: 600;
    border-radius: 0 0 5px 5px;
}

.track-cards:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: ease-in 0.2s;
}

.track-name {
    width: 60%;
    font-size: 1em;
    margin: 0 15px 0 15px;
    font-weight: 500;
}

.track-start-date {
    margin: 0 15px 0 15px;
    width: 20%;
    font-size: 1em;
}

.status {
    margin: 0 15px 0 15px;
    width: 10%;
}

.status-round-success {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    background-color: #11c29b;
    border-radius: 50%;
    color: #fff;
}

.status-round-failed {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    background-color: #e4001e;
    border-radius: 50%;
    color: #fff;
}

#link-css:visited,
#link-css:link,
#link-css:active {
    text-decoration: none;
    color: #1C6DD0;
}

.menu-option-internal {
    padding-left: 30px;
    /* border: 1px solid black; */
    margin: 10px 0;
    font-size: 1.1em;
    font-weight: 600;
    color: #343a40;
    display: flex;
    align-items: center;
    border-radius: 22px;
}

.menu-icon-internal {
    padding-right: 20px;
}

.home-page {
    border: 1px solid black;
    display: flex;
    align-items: center;
    font-size: 1.5em;
    color: #343a40;
}

.home-page-icon {
    margin-right: 20px;
}

.welcome-text {
    font-size: 2em;
}

.course-name-isa {
    display: flex;
}

.course-name {
    flex: 3;
    color: #9b9b9b;
}

.isa-status {
    display: flex;
    justify-content: end;
    flex: 2;
    align-items: center;
    font-size: 0.7em;
}

.isa-status-box {
    padding: 5px 10px;
    border-radius: 8px;
    color: #fff;
    background-color: #11c29b;
}

.upcoming-classes {
    display: flex;
    padding: 10px 0;
}

.instructor-class {
    flex: 1;
    margin-right: 15px;
    background-color: #fff;
    border-radius: 20px;
    padding: 10px 30px 30px 30px;
    box-shadow: 0px 16px 32px 0px rgba(233, 238, 242, 0.4);
}

.ic-title {
    font-size: 1.5em;
    color: #686868;
    height: 100px;
}

.ic-time {
    margin-right: 10px;
    color: #9b9b9b;
}

.join-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    height: 50px;
    width: 130px;
    border-radius: 15px;
    background-image: linear-gradient(to right, #bc9be8, #ad8de8, #9b7fe7, #8672e8, #6d66e8);
    color: #fff;
    font-size: small;
}

.join-btn:hover {
    height: 52px;
    width: 132px;
    transition: cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.2s;
}

.time-btn-wrapper {
    display: flex;
    align-items: center;
}

.mentor-session {
    flex: 1;
    margin-left: 15px;
    background-color: #fff;
    border-radius: 20px;
    padding: 10px 30px 30px 30px;
    box-shadow: 0px 16px 32px 0px rgba(233, 238, 242, 0.4);
}

.upcoming-text {
    display: flex;
    margin-top: 40px;
    font-weight: 900;
}

.u-text-1 {
    flex: 1;
}

.u-text-2 {
    align-items: center;
    display: flex;
    justify-content: end;
    flex: 1;
    float: right;
    padding-right: 20px;
    text-decoration: none;
}

.bi-box-arrow-right {
    margin-left: 10px;
    color: #1C6DD0;
    font-weight: bolder;
}

.upcoming-assignment {
    display: flex;
    padding: 10px 0;
}

.assignment {
    margin-right: 15px;
    background-color: #fff;
    border-radius: 20px;
    padding: 10px 30px 30px 30px;
    box-shadow: 0px 16px 32px 0px rgba(233, 238, 242, 0.4);
}

.assignment-video {
    margin-right: 30px;
    padding: 0;
}

.video-tumb {
    position: relative;
    height: 200px;
    width: 350px;
    border-radius: 20px;
    box-shadow: 0px 16px 32px 0px rgba(233, 238, 242, 0.4);
}

.subject {
    top: 5%;
    left: 5%;
    position: absolute;

}

.subject-text {
    background-color: #e83e8c;
    padding: 5px;
    font-size: 0.7em;
    border-radius: 5px;
    color: #fff;
}

.play-icon {
    top: 40%;
    left: 45%;
    font-size: 3em;
    position: absolute;
    color: #fff;

}

.video-tumb>img {
    border-radius: 30px;
    object-fit: cover;
    opacity: 0.7;
}

.video-title {
    font-weight: 600;
    font-size: 0.9em;
}

.instructor-details {
    display: flex;
    align-items: center;
}

.i-photo {
    height: 20px;
    margin-right: 10px;
}

.i-name {
    font-weight: 600;
    font-size: 0.8em;
    color: #686868;
}

.class-time {
    display: flex;
    justify-content: end;
    flex: 1;
    font-weight: 600;
    font-size: 0.8em;
    color: #686868;
}

.as-title {
    font-size: 1.2em;
    color: #686868;
    height: 100px;
}

.as-time {
    font-size: 0.9em;
    color: #9b9b9b;
}

.start-btn {
    display: flex;
    align-items: center;
    border-radius: 15px;
    color: #7a17eb;
    width: fit-content;
    font-size: 3em;
}

.start-text {
    font-size: small;
}

.att-container {
    padding: 20px 0;
    display: flex;
}

.attendance {
    flex: 1;
    border-radius: 20px;
    padding: 20px 20px;
    background-color: #fff;
    margin-right: 10px;
    box-shadow: 0px 16px 32px 0px rgba(233, 238, 242, 0.4);
}

.attendance-text {
    font-size: 0.8em;
    font-weight: 800;
}

.overall-att {
    flex: 1;
}

.last-7-days-att {
    flex: 1;
}

.att-charts {
    display: flex;
    flex-direction: column;
}

.overall-att {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.last-7-days-att {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.c-text {
    padding: 2px;
    font-weight: 600;
    font-size: 0.8em;
    color: #686868;
}

.ass-ques {
    flex: 2;
    margin-left: 10px;
    border-radius: 20px;
    padding: 20px 20px;
    background-color: #fff;
    box-shadow: 0px 16px 32px 0px rgba(233, 238, 242, 0.4);
}

.ass-ques-text {
    font-size: 0.8em;
    font-weight: 800;
}

.chart-l-1 {
    display: flex;
}

.overall {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coding {
    flex: 2;
    margin-left: 10px;
}

.last-7 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.attempted {
    flex: 1;
}

.chart-l-2 {
    margin-top: 20px;
    display: flex;
}

.tt {
    font-size: 0.8em;
}

.label {
    background-color: #e83e8c;
    padding: 3px 8px;
    color: #fff;
    border-radius: 8px;
}

.board-wrapper {
    margin-top: 30px;
}

.board-label {
    padding: 20px 30px;
    border-radius: 20px 20px 0 0;
    background-color: #fff;
    box-shadow: 0px 16px 32px 0px rgba(233, 238, 242, 0.4);
}

.board-label-text {
    display: flex;
    align-items: center;
    font-weight: 800;
}

.boardtype {
    display: flex;
    color: #007bff;

}

.board-table {
    margin-top: 20px;
}

.board-cards {
    display: flex;
    align-items: center;
}

.b-cards-wrapper {
    margin-top: 20px;
    border-radius: 15px;
    background-color: #fff;
    padding: 10px 30px;
    font-weight: 600;
    box-shadow: 0px 16px 32px 0px rgba(233, 238, 242, 0.4);
}

.self-active {
    background-color: rgba(0, 149, 255, 0.2);
    color: #007bff;
}

.rank-text {
    flex: 1;
}

.change-text {
    flex: 1;
}

.name-text {
    flex: 3;
}

.completed-icon {
    flex: 1;
}

.tick-icon {
    display: flex;
    background-color: #11c29b;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    font-size: 0.9em;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.activity-icon {
    display: flex;
    background-color: #007bff;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    font-size: 0.9em;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.time-icon {
    flex: 1;
}

.overall-board {
    margin-right: 40px;
    padding: 0 0;

}

.l-active,
.overall-board>p:hover,
.weekly>p:hover {
    border-bottom: 3px solid #007bff;
    cursor: pointer;
}

.red {
    color: red;
}

.green {
    color: green;
}

.weekly {}

.peers-wrapper {
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
}

.peers-profile-card {
    align-items: center;
    padding: 20px;
    width: 200px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 16px 32px 0px rgba(233, 238, 242, 0.4);
}

.pp-name-wrapper {
    display: flex;
}

.profile-pic {
    flex: 1;
    height: 50px;
    width: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

.profile-pic>img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center right;
}

.name {
    display: flex;
    align-items: center;
    flex: 2;
    font-size: 1;
    font-weight: 600;
}

.name>a:link,
a:active,
a:visited {
    text-decoration: none;
    color: #007bff;
}

.peers-icon:hover {
    color: #007bff;
    cursor: pointer;
}

.follow-stats {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.follow {
    width: fit-content;
    margin-right: 20px;
}

.follow-text {
    background-color: #007bff;
    color: #fff;
    font-size: 0.8em;
    padding: 5px 20px;
    border-radius: 20px;
}




@property --p {
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
}

.pie {
    --p: 15;
    --b: 15px;
    --c: darkred;
    --w: 100px;

    width: var(--w);
    aspect-ratio: 1;
    position: relative;
    display: inline-grid;
    margin: 5px;
    place-content: center;
    font-size: 20px;
    font-weight: bold;
}

.pie:before,
.pie:after {
    content: "";
    position: absolute;
    border-radius: 50%;
}

.pie:before {
    inset: 0;
    background:
        radial-gradient(farthest-side, var(--c) 98%, #0000) top/var(--b) var(--b) no-repeat,
        conic-gradient(var(--c) calc(var(--p)*1%), #0000 0);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b)));
    mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b)));
}

.pie:after {
    inset: calc(50% - var(--b)/2);
    background: var(--c);
    transform: rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
}

.animate {
    animation: p 1s .5s both;
}

@keyframes p {
    from {
        --p: 0
    }
}




.progress {
    background: rgb(240, 218, 219);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 0;
    display: flex;
    height: 10px;
    width: 100%;
}

.progress-value {
    animation: load 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #e83e8c;
    height: 10px;
    width: 0;
}

@keyframes load {
    0% {
        width: 0;
    }

    100% {
        width: 90%;
    }
}